.errorDiv {
  background: #ff5b5b;
  animation-name: error;
  animation-duration: 0.9s;
  animation-iteration-count: infinite;
  text-align: center;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.54);
  //font-family: "Roboto";
}

@keyframes error {
  0%{background-color: red;}
  50% {background-color: #f4ff69;}
  100%{background-color: red;}
}

.arrow {
  padding: 20px 5px
}
.tit {
  font-size: 1.8em;
}
.time {
  font-size: 3em;
  text-align: center;
}

@media screen and (max-width: 1750px) {
  .t1 {
    font-size: 80%;
    //background-color: lightgreen;
  }
  .tit {
    font-size: 1.6em;
  }
  .arrow {
    padding: 15px 5px;
  }
}

@media screen and (max-width: 1600px) {
  .t1 {
    font-size: 70%;

  }
  .tit {
    font-size: 1.4em;
  }
  .arrow {
    padding: 10px 5px;
  }
}
@media screen and (max-width: 1360px) {
  .time {
    font-size: 2em;
  }
}
@media screen and (max-width: 960px) {
  .t1 {
    font-size: 100%;

  }
  .tit {
    font-size: 2em;
  }
  .arrow {
    padding: 20px 5px;
  }
  .time {
    font-size: 3em;
  }
}

